@charset "UTF-8";


body{
   background-image: url(imagens/wp4566581.webp);
   background-size: cover ;
   background-repeat: no-repeat;
   background-attachment: fixed;
   backdrop-filter: blur(3px);

   
}
main{
    padding: 10px 90px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(12, 12, 12, 0.199);
    box-shadow: 3px 3px  10px rgba(36, 36, 36, 0.589);
    max-width: 900px;
    margin: auto;
    margin-top: 10px;
}
.navbar{
    text-align:  center;
    justify-content: space-between;
    margin-top: 80px;
}
.nav-links{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    transition: 0.3;
    font-weight: 700;
    font-size: 14px ;
    list-style: none;
    text-decoration: none; 
    margin: 5px;
}
.nav-links:hover{
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 10px ;
    border-radius:7px ;
    color: rgb(255, 255, 255);
    transition: 0.8s;
    background-color: rgba(73, 73, 73, 0.281);
    box-shadow: 3px 3px 10px rgba(214, 214, 214, 0.548), -3px -3px 10px rgba(153, 153, 153, 0.356);
    
}

h1{
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px 0px 0px 30px;
    color: rgb(219, 219, 219);
    
}
.p-h1{
    margin: 0px 0px 0px 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p.conteudo{
    color: rgb(186, 194, 191);
}
p{
    color: rgba(245, 245, 245, 0.479);
    margin: auto;
    margin-top: 20px;
    font-weight: 900;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}
#q1{
    background-image: url(imagens/img-p03.avif);
    background-size: cover;
    background-position: center center;
    filter: grayscale(100%);
    
}
#q1:hover{
    box-shadow: 10px 10px 20px rgba(32, 19, 37, 0.726), -10px -10px 20px rgba(32, 19, 37, 0.404);
    border: 1px solid rgba(245, 245, 220, 0.322);
    width: 310px;
    height: 310px;
    transition: 0.7s;
    filter: grayscale(0%);
    transform: translateY(-15px);
   
}
#q2{
    background-image: url(imagens/img-p02.jpg) ;
    background-size: cover;
    background-position:left;
     filter: grayscale(80%);
}
 
#q2:hover{
    border: 1px solid rgba(245, 245, 220, 0.39);
    width: 310px;
    height: 310px;
    box-shadow: 10px 10px 20px rgba(112, 35, 129, 0.575), -10px -10px 20px rgba(112, 35, 129, 0.575);
    transition: 0.7s;
    filter: grayscale(0%);
    transform: translateY(-15px  );

}

#q3{
    background-image: url(imagens/img-p01.jpg) ;
    background-size: cover;
    filter: grayscale(80%);
}
#q3:hover{
    border: 1px solid rgba(245, 245, 220, 0.301);
    transition: 0.7s;
    width: 310px;
    height: 310px;
    box-shadow: 10px 10px 20px #5e0fa783, -10px -10px 20px #5e0fa769;
    filter: grayscale(0%);
    transform:  translateY(-15px);
    
}

div.quadrado{
    display: flex;
    border-radius: 8px;
    width: 300px;
    height: 300px;
    margin: 5px;
}
section{
    display: flex;
    justify-content: center;
    margin: auto;
}
